@using School.Models.WebModels.SectionModels;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@model SectionModel
<div class="row">
    <div class="col-md-12">
        <div class="cform row gy-3">
            <input type="hidden" id="SectionId" name="SectionId" asp-for="SectionId" />
            <div class="col-xxl-6 col-md-6">
                <div>
                    <label class="form-label">Section</label>
                    <input type="text" class="form-control textCapital" id="SectionName" name="SectionName" asp-for="SectionName" placeholder="Section">
                </div>
            </div>
            <div class="col-xxl-6 col-md-6" style="display:none">
                <div>
                    <label class="form-label">Active</label>
                    <select class="form-select" id="IsActive" asp-for="IsActive" aria-label="Active">
                        <option value=true>Active</option>
                        <option value=false>In-Active</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success theme-btn" type="button" id="btnSave">@(Model.SectionId > 0 ? "Update" : "Add")</button>
                <button class="btn btn-secondary" type="button" onclick="bootbox.hideAll();">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.textCapital').keyup(function () {
            $(this).val($(this).val().toUpperCase());
        });

        $("#btnSave").click(function () {
            BindData();
        });
        function BindData() {
            var dataObj = {
                SectionId: $("#SectionId").val(),
                SectionName: $("#SectionName").val(),
                IsActive: $("#IsActive").val()
            };
            if (Validation(dataObj)) {
                if (dataObj["SectionId"] == "0") {
                    Save(dataObj);

                }
                else {
                    var dlg_updatePromo = bootbox.dialog({
                        message: 'Are you sure! you want to update the record?',
                        title: 'Confirm',
                        buttons: {
                            ok: {
                                label: "Yes",
                                className: 'btn-primary',
                                callback: function () {
                                    Save(dataObj);
                                }
                            },
                            cancel: {
                                label: "No",
                                className: 'btn-danger',
                                callback: function () {
                                    $(dlg_updatePromo).modal('hide');
                                }
                            }
                        }
                    });
                    dlg_updatePromo.find('.modal-header').css('background-color', '#dc3545').css('border-bottom', '1px solid #dc3545');
                }
            }
        }
        function Validation(dataObj) {
            var isError = false;
            if (!dataObj["SectionName"] || !dataObj["SectionName"].trim()) {
                $app.notify.validate("SectionName", "Name is required");
                isError = true;
            }
            if (isError) {
                return false;
            }
            else {
                return true;
            }
        }
    });
</script>