<reports>
  <report id="invoiceexport" active="yes">
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="InvoiceDate" reportcolumn="Invoice Date"></column>    
	  <column dbcolumnname="InvoiceType" reportcolumn="Invoice Type"></column>
	  <column dbcolumnname="InvoiceTypeValue" reportcolumn="Invoice Type Value"></column>
    <column dbcolumnname="CustomerName" reportcolumn="Customer Name"></column>
    <column dbcolumnname="CreditNo" reportcolumn="Credit No"></column>
    <column dbcolumnname="IqamaNumber" reportcolumn="Iqama Number"></column>
    <column dbcolumnname="ParentCode" reportcolumn="Parent Code"></column>
    <column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="FatherMobile" reportcolumn="Father Mobile"></column>
    <column dbcolumnname="StudentCode" reportcolumn="Student Code"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <!--<column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>-->
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="PaymentReferenceNumber" reportcolumn="Payment Ref Number"></column>
    <column dbcolumnname="InvoiceRefNo" reportcolumn="Invoice Ref No"></column>
    <column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
    <column dbcolumnname="TaxAmount" reportcolumn="Tax Amount"></column>
    <column dbcolumnname="ItemSubtotal" reportcolumn="Item Subtotal"></column>
  </report>
  <report id="entrancerevenueexport" active="yes">
    <column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="IqamaNumber" reportcolumn="Father Iqama No."></column>
    <column dbcolumnname="FatherMobile" reportcolumn="Parent Mobile"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <column dbcolumnname="GradeName" reportcolumn="Grade"></column>
    <column dbcolumnname="CostCenter" reportcolumn="Cost Center"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="IsStaff" reportcolumn="Staff"></column>
    <column dbcolumnname="InvoiceType" reportcolumn="Invoice Type"></column>
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="InvoiceDate" reportcolumn="Date"></column>
    <column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
    <column dbcolumnname="TaxAmount" reportcolumn="Tax Amount"></column>
    <column dbcolumnname="ItemSubtotal" reportcolumn="Item Subtotal"></column>
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="InvoiceRefNo" reportcolumn="Invoice Ref No"></column>
  </report>
  <report id="tuitionrevenueexport" active="yes">
    <column dbcolumnname="ParentId" reportcolumn="Parent ID"></column>
    <column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="IqamaNumber" reportcolumn="Father Iqama"></column>
    <column dbcolumnname="StudentId" reportcolumn="Student ID"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <column dbcolumnname="GradeName" reportcolumn="Grade"></column>
    <column dbcolumnname="CostCenter" reportcolumn="Cost Center"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="FatherMobile" reportcolumn="Mobile"></column>
    <column dbcolumnname="IsStaff" reportcolumn="Staff"></column>
    <column dbcolumnname="InvoiceType" reportcolumn="Invoice Type"></column>
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="InvoiceDate" reportcolumn="Date"></column>
    <column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
    <column dbcolumnname="TaxAmount" reportcolumn="Vat Amount"></column>
    <column dbcolumnname="ItemSubtotal" reportcolumn="Total Amount"></column>
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="PaymentReferenceNumber" reportcolumn="Reference No"></column>
  </report>
  <report id="uniformrevenueexport" active="yes">
    <column dbcolumnname="ItemCode" reportcolumn="Item Code"></column>
    <column dbcolumnname="Description" reportcolumn="Item Name"></column>
    <column dbcolumnname="InvoiceType" reportcolumn="Invoice Type"></column>
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="InvoiceDate" reportcolumn="Date"></column>
    <column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="FatherMobile" reportcolumn="Mobile"></column>
    <column dbcolumnname="Quantity" reportcolumn="Quantity"></column>
    <column dbcolumnname="UnitPrice" reportcolumn="Unit Price"></column>
    <column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
    <column dbcolumnname="ItemSubtotal" reportcolumn="Total Amount"></column>
    <column dbcolumnname="TaxAmount" reportcolumn="VAT Amount"></column>
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="PaymentReferenceNumber" reportcolumn="Reference No"></column>
  </report>
  <report id="advancefeetuitionrevenueexport" active="yes">
    <column dbcolumnname="ParentId" reportcolumn="Parent Id"></column>
    <column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="IqamaNumber" reportcolumn="Father Iqama No."></column>
    <column dbcolumnname="FatherMobile" reportcolumn="Parent Mobile"></column>
    <column dbcolumnname="StudentId" reportcolumn="Student Id"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <column dbcolumnname="GradeName" reportcolumn="Grade"></column>
    <column dbcolumnname="CostCenter" reportcolumn="Cost Center"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="IsStaff" reportcolumn="Staff"></column>
    <column dbcolumnname="InvoiceType" reportcolumn="Invoice Type"></column>
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="InvoiceDate" reportcolumn="Date"></column>
    <column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
    <column dbcolumnname="TaxAmount" reportcolumn="Tax Amount"></column>
    <column dbcolumnname="ItemSubtotal" reportcolumn="Item Subtotal"></column>
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="InvoiceRefNo" reportcolumn="Invoice Ref No"></column>
  </report>
  <report id="discountreportexport" active="yes">
    <column dbcolumnname="ParentCode" reportcolumn="Parent ID"></column>
    <column dbcolumnname="FatherName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="FatherIqamaNo" reportcolumn="Father Iqama"></column>
    <column dbcolumnname="StudentCode" reportcolumn="Student Id"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <column dbcolumnname="GradeName" reportcolumn="Grade"></column>
    <column dbcolumnname="CostCenterName" reportcolumn="Cost Center"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="Mobile" reportcolumn="Mobile"></column>
    <column dbcolumnname="IsFatherStaff" reportcolumn="Staff"></column>
    <column dbcolumnname="FeeStatementType" reportcolumn="Description"></column>
    <column dbcolumnname="UpdateDate" reportcolumn="Date"></column>
    <column dbcolumnname="DiscountApplied" reportcolumn="Discount Applied"></column>
    <column dbcolumnname="DiscountCancelled" reportcolumn="Discount Cancelled"></column>
  </report>
  <report id="allrevenueexport" active="yes">
    <column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
    <column dbcolumnname="IqamaNumber" reportcolumn="Father Iqama"></column>
    <column dbcolumnname="StudentId" reportcolumn="Student ID"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <column dbcolumnname="GradeName" reportcolumn="Grade"></column>
    <column dbcolumnname="CostCenter" reportcolumn="Cost Center"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="FatherMobile" reportcolumn="Mobile"></column>
    <column dbcolumnname="IsStaff" reportcolumn="Staff"></column>
    <column dbcolumnname="InvoiceType" reportcolumn="Invoice Type"></column>
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="InvoiceDate" reportcolumn="Date"></column>
    <column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
    <column dbcolumnname="TaxAmount" reportcolumn="Vat Amount"></column>
    <column dbcolumnname="ItemSubtotal" reportcolumn="Total Amount"></column>
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="PaymentReferenceNumber" reportcolumn="Reference No"></column>
  </report>
  <report id="generalreportexport" active="yes">
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="CostCenter" reportcolumn="Cost Center"></column>
    <column dbcolumnname="Grade" reportcolumn="Grade"></column>
    <column dbcolumnname="Gender" reportcolumn="Gender"></column>
    <column dbcolumnname="FeeApplied" reportcolumn="Fee Applied"></column>
    <column dbcolumnname="DiscountApplied" reportcolumn="Discount Applied"></column>
    <column dbcolumnname="AmountPaid" reportcolumn="Amount Paid"></column>
    <column dbcolumnname="VatPaid" reportcolumn="Vat Paid"></column>
    <column dbcolumnname="Balance" reportcolumn="Balance"></column>   
  </report>
  <report id="parentstudentreportexport" active="yes">
    <column dbcolumnname="ParentCode" reportcolumn="ParentID"></column>
    <column dbcolumnname="StudentCode" reportcolumn="StudentID"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="CostCenter" reportcolumn="Cost Center"></column>
    <column dbcolumnname="Grade" reportcolumn="Grade"></column>
    <column dbcolumnname="Gender" reportcolumn="Gender"></column>
    <column dbcolumnname="FeeApplied" reportcolumn="Fee Applied"></column>
    <column dbcolumnname="DiscountApplied" reportcolumn="Discount Applied"></column>
    <column dbcolumnname="AmountPaid" reportcolumn="Amount Paid"></column>
    <column dbcolumnname="VatPaid" reportcolumn="Vat Paid"></column>
    <column dbcolumnname="Balance" reportcolumn="Balance"></column>   
  </report>
  <report id="studentstatement" active="yes">
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>
    <column dbcolumnname="StudentName" reportcolumn="Student Name"></column>
    <column dbcolumnname="InvoiceNo" reportcolumn="Invoice No"></column>
    <column dbcolumnname="RecordDate" reportcolumn="Date"></column>
    <column dbcolumnname="PaymentMethod" reportcolumn="Payment Method"></column>
    <column dbcolumnname="FeeTypeName" reportcolumn="Fee Type"></column>
    <column dbcolumnname="FeeAmount" reportcolumn="Fee Amount"></column>
    <column dbcolumnname="PaidAmount" reportcolumn="Paid Amount"></column>
  </report>
  <report id="parentreportexport" active="yes">
    <column dbcolumnname="ParentCode" reportcolumn="ParentID"></column>
    <column dbcolumnname="AcademicYear" reportcolumn="Academic Year"></column>  
    <column dbcolumnname="OpeningBalance" reportcolumn="Opening Balance"></column>
	<column dbcolumnname="FeeApplied" reportcolumn="Fee Applied"></column>
    <column dbcolumnname="DiscountApplied" reportcolumn="Discount Applied"></column>
    <column dbcolumnname="AmountPaid" reportcolumn="Amount Paid"></column>
    <column dbcolumnname="VatPaid" reportcolumn="Vat Paid"></column>
    <column dbcolumnname="Balance" reportcolumn="Balance"></column>
  </report>
	<report id="parent" active="yes">
		<column dbcolumnname="Active" reportcolumn="Active"></column>
		<column dbcolumnname="Advance Account" reportcolumn="Advance Account"></column>
		<column dbcolumnname="Father Arabic Name" reportcolumn="Father Arabic Name"></column>
		<column dbcolumnname="Father Email" reportcolumn="Father Email"></column>
		<column dbcolumnname="Father Iqama No" reportcolumn="Father Iqama No"></column>
		<column dbcolumnname="Father Mobile" reportcolumn="Father Mobile"></column>
		<column dbcolumnname="Father Name" reportcolumn="Father Name"></column>
		<column dbcolumnname="Father Nationality" reportcolumn="Father Nationality"></column>
		<column dbcolumnname="Father Staff" reportcolumn="Father Staff"></column>
		<column dbcolumnname="Mother Arabic Name" reportcolumn="Mother Arabic Name"></column>
		<column dbcolumnname="Mother Email" reportcolumn="Mother Email"></column>
		<column dbcolumnname="Mother Iqama No" reportcolumn="Mother Iqama No"></column>
		<column dbcolumnname="Mother Mobile" reportcolumn="Mother Mobile"></column>
		<column dbcolumnname="Mother Name" reportcolumn="Mother Name"></column>
		<column dbcolumnname="Mother Nationality" reportcolumn="Mother Nationality"></column>
		<column dbcolumnname="Mother Staff" reportcolumn="Mother Staff"></column>
		<column dbcolumnname="Parent ID" reportcolumn="Parent ID"></column>
		<column dbcolumnname="Receivable Account" reportcolumn="Receivable Account"></column>
	</report>
	<report id="student" active="yes">
		<column dbcolumnname="Address" reportcolumn="Address"></column>
		<column dbcolumnname="Admission Date" reportcolumn="Admission Date"></column>
		<column dbcolumnname="Admission Year" reportcolumn="Admission Year"></column>
		<column dbcolumnname="Cost Center" reportcolumn="Cost Center"></column>
		<column dbcolumnname="Date of Birth" reportcolumn="Date of Birth"></column>
		<column dbcolumnname="Gender" reportcolumn="Gender"></column>
		<column dbcolumnname="Grade" reportcolumn="Grade"></column>
		<column dbcolumnname="Iqama No" reportcolumn="Iqama No"></column>
		<column dbcolumnname="Mobile" reportcolumn="Mobile"></column>
		<column dbcolumnname="Nationality" reportcolumn="Nationality"></column>
		<column dbcolumnname="Parent ID" reportcolumn="Parent ID"></column>
		<column dbcolumnname="Passport Expiry" reportcolumn="Passport Expiry"></column>
		<column dbcolumnname="Passport No" reportcolumn="Passport No"></column>
		<column dbcolumnname="PrinceAccount" reportcolumn="PrinceAccount"></column>
		<column dbcolumnname="Section" reportcolumn="Section"></column>
		<column dbcolumnname="Status" reportcolumn="Status"></column>
		<column dbcolumnname="Student Arabic Name" reportcolumn="Student Arabic Name"></column>
		<column dbcolumnname="Student Email" reportcolumn="Student Email"></column>
		<column dbcolumnname="Student ID" reportcolumn="Student ID"></column>
		<column dbcolumnname="Student Name" reportcolumn="Student Name"></column>
		<column dbcolumnname="Term" reportcolumn="Term"></column>
	</report>
  <report id="monthlyrevenueexport" active="yes">
		<column dbcolumnname="ParentName" reportcolumn="Parent Name"></column>
		<column dbcolumnname="NameMonth" reportcolumn="Month"></column>
		<column dbcolumnname="NameYear" reportcolumn="Year"></column>
		<column dbcolumnname="TaxableAmount" reportcolumn="Taxable Amount"></column>
		<column dbcolumnname="TaxAmount" reportcolumn="Tax Amount"></column>
		<column dbcolumnname="ItemSubtotal" reportcolumn="Item Subtotal"></column>		
	</report>
</reports>

