<div class="card chart-card tabel-card">
	<div class="card-header d-flex">
		<h5>Fess Deatils</h5>
		<select name="year">
			<option value="2024">2024</option>
			<option value="2025">2025</option>
		</select>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="fess-table" class="table" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>invoice type</th>
						<th>Amount</th>
						<th>Last date</th>
						<th>status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>123456</td>
						<td>88.00</td>
						<td>20-10-2024</td>
						<td><span class="ship">shipped</span></td>
					</tr>
					<tr>
						<td>123456</td>
						<td>100.00</td>
						<td>20-10-2024</td>
						<td><span class="paid">paid</span></td>
					</tr>
					<tr>
						<td>123456</td>
						<td>120.00</td>
						<td>20-10-2024</td>
						<td><span class="panding">panding</span></td>
					</tr>
					<tr>
						<td>123456</td>
						<td>90.00</td>
						<td>20-10-2024</td>
						<td><span class="paid">paid</span></td>
					</tr>
					<tr>
						<td>123456</td>
						<td>50.00</td>
						<td>20-10-2024</td>
						<td><span class="panding">panding</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>