<div class="card chart-card">
	<div class="card-header">
		<h5>Notifications & Updates</h5>
	</div>
	<div class="card-body">
		<div class="notifications-box">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<div class="avtar avtar-s bg-light-danger">
								<i class="fa-solid fa-user"></i>
							</div>
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex">
								<div class="flex-grow-1 me-3 position-relative">
									<h6 class="mb-0 text-truncate">Challenge invitation</h6>
								</div>
								<div class="flex-shrink-0">
									<span class="text-sm">12 hour ago</span>
								</div>
							</div>
							<p class="position-relative mt-1 mb-2"><br><span class="text-truncate"><strong> Jonny aber </strong> invites to join the challenge</span></p>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="assets/images/avatar-2.jpg" alt="user-image" class="user-avtar avtar avtar-s">
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex">
								<div class="flex-grow-1 me-3 position-relative">
									<h6 class="mb-0 text-truncate">Keefe Bond added new tags to 💪 Design system</h6>
								</div>
								<div class="flex-shrink-0">
									<span class="text-sm">2 min ago</span>
								</div>
							</div>
							<p class="position-relative mt-1 mb-2"><br><span class="text-truncate">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="assets/images/avatar-2.jpg" alt="user-image" class="user-avtar avtar avtar-s">
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex">
								<div class="flex-grow-1 me-3 position-relative">
									<h6 class="mb-0 text-truncate">Keefe Bond added new tags to 💪 Design system</h6>
								</div>
								<div class="flex-shrink-0">
									<span class="text-sm">2 min ago</span>
								</div>
							</div>
							<p class="position-relative mt-1 mb-2"><br><span class="text-truncate">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="d-flex">
						<div class="flex-shrink-0">
							<img src="assets/images/avatar-2.jpg" alt="user-image" class="user-avtar avtar avtar-s">
						</div>
						<div class="flex-grow-1 ms-3">
							<div class="d-flex">
								<div class="flex-grow-1 me-3 position-relative">
									<h6 class="mb-0 text-truncate">Keefe Bond added new tags to 💪 Design system</h6>
								</div>
								<div class="flex-shrink-0">
									<span class="text-sm">2 min ago</span>
								</div>
							</div>
							<p class="position-relative mt-1 mb-2"><br><span class="text-truncate">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</span></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>