@using System.Data;
@model DataSet
@if (Model != null && Model.Tables.Count > 0 && Model.Tables[0].Rows.Count > 0)
{
    foreach (DataRow dr in Model.Tables[0].Rows)
    {
        <div class="swiper-slide">
            <div class="card shadow-none  mb-0">
                <div class="card-body" style="padding: 4px;">
                    <span>@dr["LogoName"]</span>
                    <button type="button" class="bootbox-close-button close" onclick="DeleteLogo('@dr["SchoolLogoId"]')">×</button>
                    <img src="@dr["LogoPath"]" id="previewImage" class="img-thumbnail user-profile-image"
                         style="height: 130px; width: 170px;border:solid 0px" />
                </div>
            </div>
        </div>
    }
}