@model School.Models.WebModels.SchoolAcademicModels.SchoolAcademicModel

<div class="row">
    <div class="col-md-12">
        <div class="cform row gy-3">
            <input type="hidden" id="SchoolAcademicId" name="SchoolAcademicId" asp-for="SchoolAcademicId" />
            <div class="col-xxl-12 col-md-12">
                <div>
                    <label class="form-label">Academic Year</label>
                    <input type="text" class="form-control" id="AcademicYear" name="AcademicYear" asp-for="AcademicYear" placeholder="Academic Year">
                </div>
            </div>
            <div class="col-xxl-6 col-md-6">
                <div>
                    <label class="form-label">Period From</label>
                    <input id="PeriodFrom" class="form-control datepicker"
                           value="@(!string.IsNullOrEmpty(Convert.ToString(Model.PeriodFrom))?Convert.ToDateTime(Model.PeriodFrom).ToString("dd/MM/yyyy"):"")"
                           placeholder="dd/MM/yyyy" />
                </div>
            </div>
            <div class="col-xxl-6 col-md-6">
                <div>
                    <label class="form-label"> Period To</label>
                    <input id="PeriodTo" class="form-control datepicker"
                           value="@(!string.IsNullOrEmpty(Convert.ToString(Model.PeriodTo))?Convert.ToDateTime(Model.PeriodTo).ToString("dd/MM/yyyy"):"")"
                           placeholder="dd/MM/yyyy" />
                </div>
            </div>
            <div class="col-xxl-6 col-md-6">
                <div>
                    <label class="form-label">Active</label>
                    <select class="form-select" name="AIsActive" id="AIsActive" asp-for="IsActive" aria-label="Active">
                        <option value=true>Active</option>
                        <option value=false>Closed</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success theme-btn" type="button" onclick="BindAcademicData()">@(Model.SchoolAcademicId > 0 ? "Update" : "Add")</button>
                <button class="btn btn-secondary" type="button" onclick="bootbox.hideAll();">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').datepicker({
        format: "dd/mm/yyyy",
        autoclose: "true"
    });
    function BindAcademicData() {
        var dataObj = {
            SchoolAcademicId: $("#SchoolAcademicId").val(),
            SchoolId: $("#SchoolId").val(),
            AcademicYear: $("#AcademicYear").val(),
            //PeriodFrom: ConvertDateTimestamp($("#PeriodFrom").val()),
            //PeriodTo: ConvertDateTimestamp($("#PeriodTo").val()),
            PeriodFrom: $("#PeriodFrom").val(),
            PeriodTo: $("#PeriodTo").val(),
            IsActive: $("#AIsActive").val()
        };
        if (ValidationAcademic(dataObj)) {
            SaveAcademic(dataObj);
        }
    }
    function ValidationAcademic(dataObj) {
        var isError = false;
        if (!dataObj["AcademicYear"] || !dataObj["AcademicYear"].trim()) {
            $app.notify.validate("AcademicYear", "Academic is required");
            isError = true;
        }
        if (!dataObj["PeriodFrom"]) {
            $app.notify.validateDD("PeriodFrom", "Period From is required");
            isError = true;
        }
        if (!dataObj["PeriodTo"]) {
            $app.notify.validate("PeriodTo", "Period To is required");
            isError = true;
        }
        if (isError) {
            return false;
        }
        else {
            return true;
        }
    }
</script>