USE [ALS_LIVE]
GO
/****** Object:  Table [dbo].[DeviceZatcaDetail]    Script Date: 28/11/2024 11:35:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceZatcaDetail](
	[DeviceZatcaDetailId] [bigint] IDENTITY(1,1) NOT NULL,
	[SellerDeviceConfigurationId] [bigint] NOT NULL,
	[Mode] [varchar](100) NOT NULL,
	[CSR] [varchar](max) NOT NULL,
	[PrivateKey] [varchar](max) NOT NULL,
	[PubicKey] [varchar](max) NOT NULL,
	[SecretKey] [varchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdateOn] [datetime] NOT NULL,
	[UpdateBy] [bigint] NOT NULL,
 CONSTRAINT [PK_DeviceZatcaDetail] PRIMARY KEY CLUSTERED 
(
	[DeviceZatcaDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DeviceZatcaDetail] ON 

SET IDENTITY_INSERT [dbo].[DeviceZatcaDetail] OFF
GO
